<%= form_for(@article) do |f| %>
<div class="form-group">
  <p class="input-form"> <%= f.label :title %> </p>
  <%= f.text_field :title %>
</div>
<div class="form-group">
  <p class="input-form"> <%= f.label :content %> </p>
  <p class="content"><%= f.text_field :content %></p>
</div>
  <%= f.submit class: 'btn btn-primary'%>
<% end %>


<!-- "Let's go! 🚀" -->
